.header {
  
  padding: 59px 0;
  background-color: $bg-color;
}


.header__innier {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-link {
  display: inline-block;
}

.header__logo {
  display: block;
  width: 199px;
  height: 33px;
}

.header__list {
  display: flex;
  align-items: center;
}

.header__item+.header__item {
  margin-left: 55px;
}

.header__link {
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #ffffff;
  transition: color 0.3s ease;
}

.header__link:hover {
  color: #9D8665;
}

.header__link:active {
  color: #7E6C51;
}

.humburger {
  display: none;
}


.humburger__modal {
  position: absolute;
  top: 113px;
  right: 0;
  left: 0;
  bottom: -400px;
  width: 80%;
  padding-top: 50px;
  height: 400px;
  text-align: center;
  margin: auto;
  background-color: rgba(37, 37, 37, 0.98);
  box-shadow: 0 0 100px 100px $bg-color;
  display: none;
}

.humburger__link {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.humburger__link:hover {
  color: #9D8665;
}

.humburger__link:active {
  color: #7E6C51;
}

.humburger__item+.humburger__item {
  margin-top: 25px;
}

.humburger__img-x {
  display: none;
}

.humburger__check:checked~.humburger__modal {
  display: block;
}

.humburger__check:checked~.humburger__modal~.humburger__img {
  display: none;
}

.humburger__check:checked~.humburger__modal~.humburger__img-x {
  display: block;
}

@include resposible(1100px) {
  .header {
    padding: 49px 0;
  }
  
  .header__navbar {
    display: none;
  }
  
  .header__logo {
    width: 189px;
    height: 33px;
  }
  
  .humburger {
    display: block;
  }
}

@include resposible(520px) {
  .header__logo {
    width: 131px;
    height: 20px;
  }
}